@import "child_theme_variables";
@import "child_colors";

.tts-button {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #fff !important;
  border-radius: 4px;
  text-align: center;
  background: #005834;
  padding: 15px 44px;
  text-transform: uppercase;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover {
    background: #006d3c;

    &:after {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
  }
}

p {
  text-align: justify;
  line-height: 26px;
}

.content-box .inner a:not(.theme-btn-one):hover {
  text-decoration: underline;
}


.main-header.style-three .logo-box img {
  max-height: 90px;
  width: auto;
}

.main-header.style-three .sticky-header .logo-box img {
  max-height: 40px;
}

.main-header.style-three {
  .logo-box {
    padding-top: 10px;
  }

  .main-menu .navigation > li {
    padding-top: 36px;
  }
}

.main-menu .navigation > li {
  margin: 0 8px;
}

.main-header .menu-right-content {
  z-index: 999;
}

.about-section--tts {

  .content_block_3 .content-box {
    padding: 30px 15px;
  }

  .content_block_2 .content-box {
    margin-right: 0;

    .image-box img {
      opacity: 0;
    }
  }

  .content-column {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &.col-img {
      padding: 0;
    }
  }
}

.service-block-one .inner-box .lower-content .content-box .inner h4 {
  font-size: 17px;
  line-height: 20px;
}

.tts-welcome {
  ol {

    li {
      list-style: decimal;
      list-style-position: inside;
    }
  }
}

.tts-partners {

  .sec-title {
    margin-bottom: 0;
  }
}

.banner-section.style-three .banner-carousel .content-box {
  max-width: 700px;

  p {
    min-height: 90px;
  }
}

.main-header .language {
  margin: 0;
}

.main-header.style-three .header-lower .outer-box .menu-right-content {
  margin-top: 15px;
  padding-right: 15px;
}

.tts-about {
  .right {
    display: flex;
    align-items: center;
  }
}

.main-header .logo-box {
  padding-left: 15px;
  padding-right: 15px;
}

.main-footer .logo-widget .footer-logo img {
  max-height: 100px;
  width: auto;
}

#content_block_1 .content-box .tab-btns li {
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.news-block-one .inner-box .lower-content .inner h3 {
  margin-bottom: 0;
}

.news-section .pattern-layer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  background-position: center;
  background-size: cover;
}

img.alignleft {
  float: left;
  margin: 0 1rem 1rem 0;
  max-width: 50%;
}

img.alignright {
  float: right;
  margin: 0 0 1rem 1rem;
  max-width: 50%;
}

img.aligncenter {
  display: block;
  margin: 0 auto 1rem;
}

.page-title .title-box p {
  text-align: center;
}

.tts-gallery,
.tts-inner-page-section {
  position: relative;
  padding: 60px 0;
}

.page-title {
  margin-bottom: 60px;
}

.clients-section {
  .sec-title {
    margin-bottom: 0;
  }

  .clients-logo-box {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: 150px;
    }

    &.alternet-2 .clients-logo-box .logo-title:before {
      background: #fff;
      bottom: -10px;
      top: auto;
    }
  }
}

.tts-gallery {

  img {
    transition: all .3s ease;
    border: 5px solid #eee;
    margin-bottom: 15px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      opacity: .9;
    }
  }
}

.feature-section,
.service-bg {
  padding: 30px 0;
  margin: 30px 0;
}

.chooseus-block {
  margin-bottom: 30px;

  &-one {
    height: 100%;

    .inner-box {
      height: 100%;

      .icon-box {
        text-align: center;
      }

      p {
        text-align: center;
      }
    }
  }
}

.chooseus-section {
  .page-title + & {
    margin-top: -60px;
  }

  .row {
    justify-content: center;
  }
}

.default-form .form-group input[type="submit"] {
  width: 100%;
  display: block;
}

.tts-inner-page-section {
  ul, li {
    list-style: disc;
    list-style-position: inside;
  }
}

.process-block-one .inner-box {
  margin-bottom: 50px;

  .lower-content p {
    text-align: left;
  }
}

.blog-details-content {
  .author-box {
    padding: 40px 20px 20px;

    .inner .image-box {
      height: 50px;
    }
  }
}

.blog-details-content .author-box .before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-position: center center;
  background-size: cover;
}

.tts-author-box.blog-details-content .author-box {
  padding-left: 80px;
  padding-right: 80px;

  &:before {
    height: 5px;
  }
}

.tts-inner-page-section .row,
.feature-section .row,
.process-section .row,
.service-section .row {
  justify-content: center;
}

#content_block_4 .content-box .inner-box .single-item .inner p a {
  white-space: nowrap;
}

.banner-section.style-three .social-box li a {
  display: block;
  transform: rotate(90deg);
}

#clients,
#partners {
  margin-bottom: 60px;
}

#partners {

  .outer-container {
    margin-top: 48px;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .clients-logo-box {
    background-color: transparent;
    margin-top: 0;
    padding: 15px;
    border: none;
  }
}

.news-posts {
  .news-block-one {
    margin-bottom: 70px;
  }
}

.page-title .news-block-one .inner-box .lower-content .inner h2 {
  margin-bottom: 0;
}

.news-block-one .inner-box .lower-content .inner .category {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .post-categories {
    display: flex;
    flex-wrap: wrap;

    li {
      &:not(:last-child):after {
        content: '|';
        color: #ffffff;
        position: relative;
        top: -1px;
      }
    }
  }

  a {
    color: #ffffff;

    &:hover {
      text-decoration: underline;
    }
  }
}

.sidebar-page-container {
  padding-top: 0;
}

article {

  .tts-inner-page-section:first-child {
    padding-top: 0;
  }

  .auto-container {
    padding: 0;
  }

  p {
    margin-bottom: 1.5rem;
  }
}

#commentform {
  .form-submit {
    input[type="submit"] {
      @extend .tts-button;
      width: 100%;
    }
  }

  .form-check-input {
    margin-top: 8px;
  }

  input[type='url'] {
    position: relative;
    display: block;
    width: 100%;
    height: 56px;
    border: 1px solid #eae0d9;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 500;
    color: #766068;
    transition: all 500ms ease;
  }
}

.blog-sidebar {

  .wp-block-categories,
  .wp-block-latest-posts {
    position: relative;
    padding: 34px 30px 31px 30px;

    li {
      position: relative;
      display: block;

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      a {
        position: relative;
        display: block;
        font-size: 12px;
        line-height: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #005834;

        &:hover {

          &:before {
            transform: scale(1, 1);
          }
        }

        &:before {
          background: #006D3C;
          position: absolute;
          content: '';
          width: 3px;
          height: 30px;
          left: -30px;
          top: -7px;
          transform: scale(0, 0);
          transition: all 500ms ease;
        }
      }
    }
  }
}

.pagination li {
  a {
    width: auto;
    height: auto;
    font-size: 14px;
    line-height: 26px;
    padding: 14px 42px;
  }

  .current {
    padding: 14px 42px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 26px;
    font-family: 'Oswald', sans-serif;
  }
}

.job-details-content .social-box .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  li {
    float: none;
    margin: 0 5px;
    width: auto;

    a {
      &.facebook {
        background: #1877F2;
      }

      &.twitter {
        background: #1DA1F2;
      }

      &.linkedin {
        background: #0077b5;
      }

      &.telegram {
        background: #0088cc;
      }

      &:hover {
        background: $green-1;
      }
    }
  }
}

.job-details {
  padding: 60px 0;
}

.single-job-post {
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }

  &:hover {

    .number p {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .job-header {
    @media (max-width: 767px) {
      display: flex;
      padding: 10px;
    }

    .number {
      @media (max-width: 767px) {
        margin-top: 0;
        width: 50%;
      }

      p {
        @media (max-width: 767px) {
          font-size: 15px;
          text-align: right;
        }
      }
    }

    .info {
      @media (max-width: 767px) {
        width: 50%;
      }

      li {
        @media (max-width: 767px) {
          font-size: 15px;
        }
      }
    }
  }

  .job-inner {
    @media (max-width: 767px) {
      padding: 10px;
    }

    p {
      text-align: left;
      @media (max-width: 767px) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .job-title {
      width: auto;
      float: none;
      padding: 0 20px;
      margin: 0;
      display: flex;
      align-items: center;

      @media (max-width: 767px) {
        min-height: 0;
      }

      &:before {
        right: 0;
        top: 0;
        height: 100%;
      }

      h3 {
        margin: 0;
        @media (max-width: 767px) {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }

    .salary-box {
      float: none;
      width: auto;
      margin: 0;
      @media (max-width: 767px) {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }

      &:before {
        right: 0;
        top: 0;
        height: 100%;
      }
    }

    .experience-box {
      float: none;
      width: auto;
      margin: 0;
    }

    .apply-btn {
      float: none;
      width: auto;
      margin: 0;
      display: flex;
      align-items: center;
      @media (max-width: 767px) {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
      }

      a {
        width: 100%;
        text-align: center;
        @media (max-width: 767px) {
          padding: 10px 13px;
          margin-top: 10px;
        }
      }
    }
  }
}

.single-vacancy {
  .page-title .news-block-one .inner-box .lower-content .inner {
    padding: 30px;
    margin-left: -30px;
  }
}

.findjob-section {
  padding-top: 0;

  .search-inner .form-group.message-btn {
    margin-top: 0;
  }
}

.post-jobs {
  margin-bottom: 50px;
}

.testimonial-block-three .inner-box .author-box.no-thumb {
  padding-left: 0;
}

.testimonial-page-section {
  padding-top: 30px;
}