a,
.single-job-post .job-header .info li,
.main-header .language .lang-dropdown li a,
.main-header.style-three .sticky-header .main-menu .navigation > li.dropdown > a:before,
.main-menu .navigation > li > ul > li > a:before,
.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > ul > li > a,
.banner-section.style-three .mail-box a,
.main-header.style-three .sticky-header .main-menu .navigation > li > a,
.banner-section.style-three .social-box .social-links li,
.banner-section.style-three .social-box .social-links li a {
  color: $green-1;
}

.page-item.active .page-link,
.error404 .main-header,
.theme-btn-one:hover,
.theme-btn-one:active,
.chooseus-block-one .inner-box,
.mobile-menu .menu-box,
.main-header.style-three .menu-area .mobile-nav-toggler .icon-bar,
#content_block_1 .content-box .tab-btns li.active-btn, #content_block_1 .content-box .tab-btns li:hover {
  background: $green-1;
}

.page-item.active .page-link,
.main-header.style-three .menu-area .mobile-nav-toggler {
  border-color: $green-1;
}

.sec-title.light h2 {
  color: $green-2;
}

.content-box a:hover,
body,
p {
  color: $green-4;
}

.main-header .language .lang-dropdown li a:hover,
.scroll-top,
.main-footer {
  background: $green-4;
}

.process-section,
.service-bg,
.loader-wrap .layer .overlay,
.bg-color-2 {
  background: $gray;
}

.single-job-post .job-inner .job-title h3 a:hover,
.job-sidebar .job-discription .list li span,
.job-details-content .text .list li span,
.news-section .sec-title .link:hover,
.content_block_3 .content-box .link a:hover,
#content_block_1 .content-box .inner-box .list li a:hover h4 {
  color: #008e4f;
}

#partners .outer-container,
.main-header .language .lang-dropdown,
.main-menu .navigation > li > ul, .main-menu .navigation > li > .megamenu {
  background-color: $yellow;
}

.news-block-one .inner-box .lower-content .inner .category a:hover,
.news-block-one .inner-box .lower-content .inner .category i,
.page-title .bread-crumb li a:hover,
.main-header .language .lang-dropdown li a:hover,
.main-menu .navigation > li.dropdown.current > a:before,
.main-menu .navigation > li.dropdown:hover > a:before,
.main-menu .navigation > li.current > a, .main-menu .navigation > li:hover > a {
  color: $yellow !important;
}

.sticky-header .main-menu .navigation > li.dropdown.current > a:before,
.sticky-header .main-menu .navigation > li.dropdown:hover > a:before,
.sticky-header .main-menu .navigation > li.current > a, .sticky-header .main-menu .navigation > li:hover > a {
  color: #59594a !important;
}


.main-header.style-three .header-lower .main-menu .navigation > li > a {
  text-shadow: 0 1px 1px $green-4;
}

.chooseus-block-one .inner-box p,
#content_block_1 .content-box .tab-btns li.active-btn i.employ-icon, #content_block_1 .content-box .tab-btns li:hover i.employ-icon, #content_block_1 .content-box .tab-btns li.active-btn i.arrow-icon, #content_block_1 .content-box .tab-btns li:hover i.arrow-icon,
#content_block_1 .content-box .tab-btns li.active-btn h5, #content_block_1 .content-box .tab-btns li:hover h5,
.footer-bottom .copyright p a,
.footer-bottom .footer-nav li a,
.footer-bottom .copyright p,
.footer-top .links-widget .links-list li a,
.main-footer .logo-widget .text p {
  color: #ffffff;
}

#content_block_1 .content-box .tab-btns li,
.main-header.style-three .sticky-header {
  background: #ffffff;
}

.footer-top .about-widget .social-links li a:hover,
.footer-bottom .copyright p a:hover,
.footer-bottom .footer-nav li a:hover,
.footer-top .links-widget .links-list li a:hover {
  color: $yellow;
}

.news-section .sec-title .top-title:after {
  border-left: 2px solid #E8E8E8;
  border-bottom: 2px solid #E8E8E8;
}

.banner-section.style-three .slide-item:before,
.page-title:before {
  background: #000000;
}

.applynow-section .apply-form .form-group input[type='text'], .applynow-section .apply-form .form-group textarea {
  color: #000000;
}