@media only screen and (max-width: 1749px) {
  .main-header.style-three .header-lower .outer-box .menu-area {
    width: 70%;
    margin-right: 110px;
  }
  .main-header .main-menu {
    margin: 0;
  }
}

@media screen and (max-width: 991px) {
  body.home .main-header.style-three {
    background: #ffffff;
  }
  .main-header.style-three .logo-box {
    padding-bottom: 10px;
  }
  .main-header.style-three .logo-box,
  .main-header.style-three .header-lower .outer-box .menu-area {
    width: 50%;
    margin-right: 0;
  }
  .preloader {
    -webkit-background-size: 80%;
    background-size: 80%;
  }
  body:not(.home) .menu-area {
    .mobile-nav-toggler {
      border-color: #fff !important;

      .icon-bar {
        background: #fff !important;
      }
    }
  }
  #content_block_3 .content-box .text,
  #content_block_3 .content-box .link {
    margin-bottom: 0;
  }
  .scroll-top.open {
    bottom: 50px;
  }
  .news-posts .news-block-one {
    margin-bottom: 0;
  }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .banner-section.style-three .slide-item .pattern-layer .pattern-1 {
    display: none;
  }
  .main-header.style-three .menu-area .mobile-nav-toggler {
    margin-right: 120px;
  }
  .main-header.style-three .header-lower .outer-box .menu-right-content {
    margin-top: 6px;
  }
  #content_block_1 .content-box .tab-btns li {
    width: 48%;
    float: left;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .main-header.style-three .header-lower .outer-box .menu-area {
    width: 65%;
  }
  .banner-section.style-three .slide-item .pattern-layer .pattern-1 {
    top: -300px;
  }
  #content_block_1 .content-box .tab-btns li {
    width: 48%;
    float: left;
  }
}

@media screen and (max-width: 375px) {
  .request-form {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .banner-section.style-three .slide-item .pattern-layer .pattern-1,
  .banner-section.style-three .slide-item .pattern-layer .pattern-3,
  .banner-section.style-three .slide-item .pattern-layer .pattern-4,
  .banner-section.style-three .mail-box {
    display: none;
  }
  p {
    text-align: left;
  }
  .banner-section.style-three .slide-item .pattern-layer .pattern-2 {
    top: -100px;
  }
  .tts-gallery, .tts-inner-page-section,
  .team-section, .news-section,
  .service-section,
  .recruitment-technology,
  .welcome-section {
    padding: 40px 0;
  }
  .page-title {
    margin-bottom: 15px;
  }
  .news-block-one .inner-box .image-box img {
    max-height: 400px;
    width: auto;
    margin-bottom: 40px;
  }
  .footer-top .about-widget {
    margin-right: 0;
    margin-bottom: 32px;
  }
  .footer-bottom .footer-nav {
    text-align: left;
  }
  .banner-section.style-three .banner-carousel .content-box p {
    min-height: 120px;
  }
  img.alignright,
  img.alignleft {
    max-width: 100%;
  }
  .tts-about img {
    margin-bottom: 15px;
  }
  .tts-author-box.blog-details-content .author-box {
    padding: 40px 20px 20px;
  }
}

@media screen and (min-width: 1025px) {
  .about-section--tts .flex-row-reverse #content_block_3 .content-box {
    padding-left: 30px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1370px) {
  .banner-section.style-three .slide-item .pattern-layer .pattern-1 {
    top: -90px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  .main-header.style-three .header-lower .outer-box .menu-area {
    width: 60%;
  }
  .banner-section.style-three .slide-item .pattern-layer .pattern-1 {
    top: -150px;
  }
  .service-block-one .inner-box .lower-content {
    padding: 0 40px;
  }
}
