/* color file */

.scroll-top:hover {
    background: #006D3C;
}

.preloader-close {
    background: #006D3C;
}

.main-header .header-top .left-info li i {
    color: #006D3C;
}

.main-header .header-top .left-info li p a:hover {
    color: #006D3C;
}

.main-header .header-top .location-box .location-carousel p span {
    color: #006D3C;
}

.main-header .header-top .location-box .location-carousel .owl-nav .owl-prev:hover,
.main-header .header-top .location-box .location-carousel .owl-nav .owl-next:hover {
    background: #006D3C;
}

.main-header .header-top .location-box .apply-btn a {
    color: #006D3C;
}

.main-header .header-top .right-info .list li a:hover {
    color: #006D3C;
}

.main-header .header-top .right-info .social-links li a:hover {
    color: #006D3C;
}

.main-header .menu-right-content .search-btn button:hover {
    color: #006D3C !important;
}

.theme-btn-one:after {
    background: #006D3C;
}

.main-header .language .lang-dropdown {
    border-top: 2px solid #006D3C;
}

.search-popup .close-search:hover {
    color: #006D3C;
    border-color: #006D3C;
}

.search-popup .search-form fieldset input[type="submit"] {
    background: #006D3C;
}

.search-popup .recent-searches li a:hover {
    color: #006D3C;
    border-color: #006D3C;
}

.banner-carousel .content-box span {
    color: #006D3C;
}

.theme-btn-two {
    background: #006D3C;
}

.sec-title .top-title {
    color: #006D3C;
}

#content_block_1 .content-box .tab-btns li.active-btn i.employ-icon,
#content_block_1 .content-box .tab-btns li:hover i.employ-icon,
#content_block_1 .content-box .tab-btns li.active-btn i.arrow-icon,
#content_block_1 .content-box .tab-btns li:hover i.arrow-icon {
    color: #006D3C;
}

#content_block_1 .content-box .tabs-content .inner-box h5 {
    color: #006D3C;
}

#content_block_1 .content-box .tabs-content .inner-box .link a:hover {
    color: #008E4F;
}

#content_block_2 .content-box .inner-box a {
    background: #006D3C;
}

#content_block_3 .content-box .link a:hover {
    color: #006D3C;
}

#content_block_3 .content-box .author-text h3:before {
    background: #006D3C;
}

#content_block_3 .content-box .author-text h3:after {
    background: #006D3C;
}

.service-block-one .inner-box .lower-content .overlay-content a {
    background: #006D3C;
}

.owl-dot-style-one .owl-dots .owl-dot.active span,
.owl-dot-style-one .owl-dots .owl-dot span:hover {
    background: #006D3C;
}

#content_block_4 .content-box .inner-box .single-item .inner h3 span {
    color: #006D3C;
}

#content_block_4 .content-box .inner-box .single-item .inner h3:before {
    background: #006D3C;
}

#content_block_4 .content-box .inner-box .single-item .inner h3 a:hover {
    color: #006D3C;
}

.industries-section .content-column .tabs-content .inner-box .content-box .link a:hover {
    background: #006D3C;
}

.industries-section .tab-btns li.active-btn h3,
.industries-section .tab-btns li:hover h3 {
    color: #006D3C;
}

.process-block-one .inner-box .icon-box span {
    color: #006D3C;
}

.process-block-one .inner-box .lower-content a {
    color: #006D3C;
}

.progress-box .bar-inner {
    background: #006D3C;
}

.progress-box .bar:before {
    background: #006D3C;
}

.progress-box .bar-inner:before {
    background: #006D3C;
}

#content_block_5 .content-box .link a:hover {
    color: #006D3C;
}

#content_block_5 .content-box .sec-title {
    margin-bottom: 30px;
}

.team-block-one .inner-box .image-box .share-box .social-links li a:hover {
    color: #006D3C;
}

.team-block-one .inner-box .lower-content h3 a:hover {
    color: #006D3C;
}

.news-block-one .inner-box .image-box .post-date {
    background: #006D3C;
}

.news-block-one .inner-box .lower-content .inner .category i {
    color: #006D3C;
}

.news-block-one .inner-box .lower-content .inner .post-info li a:hover {
    color: #006D3C;
}

.testimonial-block-one .inner-box .author-box .rating li {
    color: #006D3C;
}

.footer-top .about-widget .social-links li a:hover {
    color: #006D3C;
}

.footer-top .links-widget .links-list li a:hover {
    color: #006D3C;
}

.footer-top .contact-widget .info-box li a:hover {
    color: #006D3C;
}

.main-footer .footer-subscribe .subscribe-form .form-group button:hover,
.main-footer .footer-subscribe .subscribe-form .form-group input:focus + button {
    color: #006D3C;
}

.main-footer .footer-subscribe .subscribe-form .form-group input:focus {
    border-bottom: 1px solid #006D3C !important;
}

.footer-bottom .copyright p a:hover {
    color: #006D3C;
}

.footer-bottom .footer-nav li a:hover {
    color: #006D3C;
}

.main-header.style-two .menu-right-content .theme-btn-one {
    border: 1px solid #006D3C;
}

.banner-carousel .btn-box .btn-one:after {
    background: #006D3C;
}

.banner-section .owl-nav .owl-prev:hover,
.banner-section .owl-nav .owl-next:hover {
    background: #006D3C;
}

#image_block_1 .image-box .video-inner .border {
    border: 1px solid #006D3C !important;
}

.service-style-two .inner-container .single-item h3 a:hover {
    color: #006D3C;
}

.service-style-two .inner-container .single-item .link a i {
    color: #006D3C;
}

.service-style-two .inner-container .single-item .link a:hover {
    color: #006D3C;
}

.service-style-two .inner-container .single-item .text a:hover {
    color: #006D3C;
    border-bottom: 1px solid #006D3C;
}

.project-block-one .inner-box .content-box .text span {
    color: #006D3C;
}

.project-block-one .inner-box .content-box .text h3 a:hover {
    color: #006D3C;
}

.project-block-one .inner-box .content-box .view-btn a {
    background: #006D3C;
}

.project-section .owl-nav .owl-prev:hover,
.project-section .owl-nav .owl-next:hover {
    color: #006D3C;
}

.industries-style-two .tab-btn-one .tab-buttons li.active-btn i {
    color: #006D3C;
}

.industries-style-two .tabs-content-2 .inner-box .content-box .link a:hover {
    background: #006D3C;
}

.industries-style-two .tab-btn-two li.active-btn h3,
.industries-style-two .tab-btn-two li:hover h3 {
    color: #006D3C;
}

.industries-style-two .tab-btn-two li.active-btn-2:before,
.industries-style-two .tab-btn-two li:hover:before {
    background: #006D3C;
}

.chooseus-block-one .inner-box a i {
    color: #006D3C;
}

.chooseus-block-one .inner-box a:hover {
    color: #006D3C;
}

.chooseus-block-one:after {
    border: 1px solid #006D3C;
}

.pricing-block-one .inner-box .text:before {
    background: #006D3C;
}

.pricing-block-one .inner-box h2 {
    color: #006D3C;
}

.pricing-block-one .inner-box:hover a {
    background: #006D3C;
}

.pricing-block-one.popular .inner-box .popular-tag {
    background: #006D3C;
}

.pricing-block-one.popular .inner-box .popular-tag:before {
    background: #006D3C;
}

.pricing-block-one.popular .inner-box .popular-tag:after {
    background: #006D3C;
}

.pricing-block-one.popular .inner-box:before {
    background: #d13634;
}

.pricing-section .tab-btn-box .tab-buttons li.active-btn,
.pricing-section .tab-btn-box .tab-buttons li:hover {
    color: #006D3C !important;
}

.testimonial-block-two .inner-box .rating li {
    color: #006D3C;
}

.testimonial-style-two .owl-theme .owl-dots .owl-dot span:before {
    border: 1px solid #006D3C;
}

.testimonial-style-two .owl-theme .owl-dots .owl-dot.active span {
    background: #006D3C;
}

.testimonial-style-two .thumb-box .user-thumb .pattern-3 {
    background: #006D3C;
}

.news-section .owl-nav .owl-prev:hover,
.news-section .owl-nav .owl-next:hover {
    color: #006D3C;
}

.clients-style-two .title-inner .btn-box a.btn-one {
    background: #006D3C;
}

.clients-style-two .title-inner .btn-box a.btn-one:hover {
    color: #006D3C;
}

.clients-style-two .title-inner .btn-box a.btn-two:hover {
    background: #006D3C;
}

#content_block_6 .content-box .info-list li .inner p a:hover {
    color: #006D3C;
}

#content_block_6 .content-box .info-list li .inner:after {
    background: #006D3C;
}

.main-footer .about-widget .subscribe-form .form-group input:focus {
    border-color: #006D3C !important;
}

.main-footer .about-widget .subscribe-form .form-group button:hover {
    background: #006D3C;
}

.main-footer .callback-widget .widget-content .form-group input:focus {
    border-color: #006D3C !important;
}

.main-footer .callback-widget .widget-content .form-group button {
    background: #006D3C;
}

.main-footer .callback-widget .pattern-layer .pattern-3 {
    background: #006D3C;
}

.footer-bottom .social-links li a:hover {
    background: #006D3C;
    border-color: #006D3C;
}

.banner-section.style-three .social-box .social-links li a:hover {
    color: #006D3C;
}

.banner-section.style-three .social-box .social-links:before {
    background: #006D3C;
}

.banner-section.style-three .mail-box a:hover {
    color: #006D3C;
}

.chooseus-section.alternet-2 .chooseus-block-one .inner-box a:hover {
    color: #006D3C;
}

.chooseus-section.alternet-2 .chooseus-block-one .inner-box a:hover i {
    color: #006D3C;
}

.video-section .video-content .pattern-layer .pattern-2 {
    background: #006D3C;
}

.video-section .video-content .pattern-layer .pattern-3 {
    background: #e74946;
}

.process-style-two .single-item .inner-box h2 {
    color: #006D3C;
}

.process-style-two .single-item .inner-box h3 a:hover {
    color: #006D3C;
}

.process-style-two .single-item .inner-box .link a:hover {
    color: #006D3C;
}

.pricing-block-two .inner-box:hover a {
    background: #e74946;
}

.pricing-block-two .inner-box h2 {
    color: #006D3C;
}

.pricing-block-two .inner-box .list li:before {
    color: #006D3C;
}

.project-style-two .more-text p a:hover {
    color: #006D3C;
    border-color: #006D3C;
}

.news-section .sec-title .link:hover {
    color: #006D3C;
}

.advice-section .text h2 a {
    color: #006D3C;
}

.advice-section .social-links li a:hover {
    background: #006D3C;
}

.main-footer .logo-widget .upload-btn a {
    border: 1px dashed #006D3C;
}

.main-footer .logo-widget .upload-btn a i {
    color: #006D3C;
}

.main-footer .logo-widget .upload-btn a:hover {
    color: #006D3C;
}

.footer-top .post-widget .post-inner .post h5 a:hover {
    color: #006D3C;
}

.page-title .bread-crumb li a:hover {
    color: #006D3C;
}

.process-style-two.alternet-2 .single-item .inner-box h3 a:hover {
    color: #006D3C;
}

.process-style-two.alternet-2 .single-item .inner-box .link a:hover {
    color: #006D3C;
}

.process-style-two.alternet-2 .single-item .inner-box .link a:hover i {
    color: #006D3C;
}

.history-section .inner-box .content-box .year-box h3 {
    color: #006D3C;
}

.history-section .inner-box .dots-box.active {
    border-color: #006D3C;
}

.history-section .inner-box .dots-box.active:before {
    background: #006D3C;
}

.history-section .inner-box .dots-box.active:after {
    background: #006D3C;
}

.owl-dot-style-two .owl-dots .owl-dot.active span,
.owl-dot-style-two .owl-dots .owl-dot span:hover {
    background: #006D3C;
}

.hiring-strategies .inner-box .funfact-inner .counter-block .count-outer {
    color: #006D3C;
}

.solutions-problems .upper-box .inner-box .single-item a:hover {
    color: #006D3C;
}

.solutions-problems .carousel-box .single-item .inner-box .side-content .content-box:after {
    background: #006D3C;
}

.solutions-problems .carousel-box .single-item .inner-box .side-content .overlay-box span {
    color: #006D3C;
}

.solutions-problems .carousel-box .single-item .inner-box .side-content .overlay-box a:hover {
    background: #006D3C;
}

.solutions-problems .carousel-box .single-item .inner-box .side-content .overlay-box:before {
    background: #006D3C;
}

.placejob-section .form-inner .job-form .form-group input:focus,
.placejob-section .form-inner .job-form .form-group textarea:focus {
    border-color: #006D3C !important;
}

.accordion-box .block .acc-btn.active .icon-outer {
    background: #006D3C;
}

.clients-style-three .owl-nav .owl-prev:hover,
.clients-style-three .owl-nav .owl-next:hover {
    color: #006D3C;
}

.hiring-section .inner-box a:after {
    background: #006D3C;
}

.default-form .form-group input:focus,
.default-form .form-group textarea:focus {
    border-color: #006D3C !important;
}

.service-details-content .content-two .inner-box .single-column .overlay-box .icon-box {
    background: #006D3C;
}

.service-details-content .content-two .inner-box .single-column .overlay-box h5 {
    color: #006D3C;
}

.service-details-content .content-two .inner-box .single-column .overlay-box .link a:hover {
    color: #006D3C;
}

.service-details-content .content-three .tab-btns li.active-btn .icon-box {
    color: #006D3C;
}

.service-details-content .content-three .tabs-content .inner-box .text a:hover {
    color: #006D3C;
}

.service-details-content .content-four .inner-box .list-item li .icon-box {
    color: #006D3C;
}

.service-details-content .content-four .inner-box .list-item li:hover .more-content .menu-icon i {
    color: #006D3C;
}

.project-block-two .inner-box .content-box .link a {
    background: #006D3C;
}

.project-block-two .inner-box .content-box .text h3 a:hover {
    color: #006D3C;
}

.service-details-content .content-five .owl-nav .owl-prev:hover,
.service-details-content .content-five .owl-nav .owl-next:hover {
    color: #006D3C;
}

.service-sidebar .categories-widget .categories-list li a.active:before,
.service-sidebar .categories-widget .categories-list li a:hover:before {
    border-color: #006D3C;
}

.service-sidebar .categories-widget .categories-list li a:after {
    background: #006D3C;
}

.service-sidebar .recruitment-widget .widget-content .link a:hover {
    color: #006D3C;
}

.single-job-post .job-header .number p {
    color: #006D3C;
}

.single-job-post:hover .job-inner .apply-btn a {
    background: #006D3C;
    border-color: #006D3C;
}

.job-details-content .upper-box .inner-box .info li a:hover {
    color: #006D3C;
}

.job-details-content .text .list li:before {
    color: #006D3C;
}

.job-details-content .social-box .social-links li:first-child a {
    background: #3b5999;
}

.job-details-content .social-box .social-links li:nth-child(2) a {
    background: #55acee;
}

.job-details-content .social-box .social-links li:nth-child(3) a {
    background: #dd4b39;
}

.job-details-content .social-box .social-links li:last-child a {
    background: #0077b5;
}

.job-sidebar .job-discription .list li p a:hover {
    color: #006D3C;
}

.job-sidebar .support-widget .widget-content .support-info li a:hover {
    color: #006D3C;
}

.job-sidebar .support-widget .widget-content .social-links li a:hover {
    color: #006D3C;
}

.placejob-section .form-inner .job-form .form-group i {
    color: #006D3C;
}

.advantages-section .single-item .inner-box a:hover {
    color: #006D3C;
}

.pricing-section.overview-page-2 .pricing-block-one.popular .inner-box a {
    background: #006D3C;
}

.pricing-section.overview-page-2 .tab-btn-box .tab-buttons li {
    border-color: #ddccc2;
    color: #f0e6e0;
    background: #462b34;
}

.sidebar-page-container .more-btn a {
    border: 1px solid #006D3C;
}

.sidebar-page-container .more-btn a:hover {
    background: #006D3C;
}

.blog-sidebar .search-widget .search-form .form-group input:focus + button,
.blog-sidebar .search-widget .search-form .form-group button:hover {
    background: #006D3C;
}

.blog-sidebar .sidebar-widget .widget-title i {
    color: #006D3C;
}

.blog-sidebar .sidebar-widget .widget-title:before {
    background: #006D3C;
}

.blog-sidebar .categories-widget .widget-content .list li a:hover {
    color: #006D3C;
}

.blog-sidebar .categories-widget .widget-content .list li a:hover span {
    color: #006D3C;
}

.blog-sidebar .categories-widget .widget-content .list li a:before {
    background: #006D3C;
}

.blog-sidebar .post-widget .widget-content .post .post-thumb:before {
    background: #006D3C;
}

.blog-sidebar .post-widget .widget-content .post h5 a:hover {
    color: #006D3C;
}

.blog-sidebar .gallery-widget .image-list li .image-box:before {
    background: #006D3C;
}

.blog-sidebar .sidebar-resource .inner-box a i {
    color: #006D3C;
}

.blog-sidebar .sidebar-resource .inner-box a:hover {
    color: #006D3C;
}

.news-block-one .inner-box .lower-content .inner h2 a:hover {
    color: #006D3C;
}

.sidebar-page-container .news-block-one .inner-box .lower-content .inner .share-box .social-links li a:hover {
    color: #006D3C;
}

.sidebar-page-container .news-block-one .inner-box .lower-content .inner .share-box .share-link:hover {
    border-color: #006D3C;
    background: #006D3C;
}

.blog-list .news-block-one .inner-box .owl-nav .owl-prev:hover,
.blog-list .news-block-one .inner-box .owl-nav .owl-next:hover {
    background: #006D3C;
}

.pagination li a:hover,
.pagination li a.active {
    border-color: #006D3C;
    background: #006D3C;
}

.page-title .news-block-one .inner-box .post-date {
    background: #006D3C;
}

.blog-details-content .inner-box .post-time h3 i {
    color: #006D3C;
}

.blog-details-content .inner-box .text h3:before {
    background: #006D3C;
}

.blog-details-content .inner-box .text .list li:before {
    color: #006D3C;
}

.blog-details-content .post-share-option .social-box .social-links li:first-child a {
    background: #3b5999;
}

.blog-details-content .post-share-option .social-box .social-links li:nth-child(2) a {
    background: #55acee;
}

.blog-details-content .post-share-option .social-box .social-links li:nth-child(3) a {
    background: #dd4b39;
}

.blog-details-content .post-share-option .social-box .social-links li:last-child a {
    background: #0077b5;
}

.blog-details-content .author-box .inner span a:hover {
    color: #fa4949;
}

.blog-details-content .author-box .social-links li a:hover {
    color: #fa4949;
}

.blog-details-content .nav-btn-box .inner a i {
    color: #fa4949;
}

.blog-details-content .nav-btn-box .left-btn:hover .inner a {
    color: #fa4949;
}

.blog-details-content .nav-btn-box .right-btn:hover .inner a {
    color: #fa4949;
}

.blog-details-content .comment-box .comment .comment-inner .reply-btn {
    color: #fa4949;
}

.blog-details-content .comments-form-area .comment-form .form-group input:focus,
.blog-details-content .comments-form-area .comment-form .form-group textarea:focus {
    border-color: #fa4949 !important;
}

.protfolio-page .more-btn a {
    border: 1px solid #fa4949;
}

.protfolio-page .more-btn a:hover {
    background: #fa4949;
}

.protfolio-page .filters .filter-tabs:before {
    background: #fa4949;
}

.protfolio-page .filters .filter-tabs li.active:before,
.protfolio-page .filters .filter-tabs li:hover:before {
    background: #fa4949;
}

.protfolio-page .filters .filter-tabs li.active,
.protfolio-page .filters .filter-tabs li:hover {
    color: #fa4949;
}

.locations-section .single-item .inner-box .info-list li i {
    color: #fa4949;
}

.locations-section .single-item .inner-box .info-list li a:hover {
    color: #fa4949;
}

.mobile-menu .menu-backdrop {
    background: #006D3C;
}