	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/06/2020 05:05
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon-1.eot") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-phone-call:before { content: "\f100"; }
.flaticon-email:before { content: "\f101"; }
.flaticon-right-arrow-angle:before { content: "\f102"; }
.flaticon-left-arrow:before { content: "\f103"; }
.flaticon-left-arrow-1:before { content: "\f104"; }
.flaticon-left:before { content: "\f105"; }
.flaticon-left-1:before { content: "\f106"; }
.flaticon-back-arrow:before { content: "\f107"; }
.flaticon-right:before { content: "\f108"; }
.flaticon-right-arrow:before { content: "\f109"; }
.flaticon-right-arrow-1:before { content: "\f10a"; }
.flaticon-right-1:before { content: "\f10b"; }
.flaticon-right-up:before { content: "\f10c"; }
.flaticon-arrow-pointing-to-right:before { content: "\f10d"; }
.flaticon-arrow:before { content: "\f10e"; }
.flaticon-search-1:before { content: "\f10f"; }
.flaticon-loupe:before { content: "\f110"; }
.flaticon-loupe-1:before { content: "\f111"; }
.flaticon-planet-earth:before { content: "\f112"; }
.flaticon-businessman:before { content: "\f113"; }
.flaticon-rejected:before { content: "\f114"; }
.flaticon-employer:before { content: "\f115"; }
.flaticon-note:before { content: "\f116"; }
.flaticon-star:before { content: "\f117"; }
.flaticon-angle-arrow-down:before { content: "\f118"; }
.flaticon-down-arrow:before { content: "\f119"; }
.flaticon-arrow-angle-pointing-down:before { content: "\f11a"; }
.flaticon-down:before { content: "\f11b"; }
.flaticon-right-arrow-2:before { content: "\f11c"; }
.flaticon-arrow-1:before { content: "\f11d"; }
.flaticon-checked:before { content: "\f11e"; }
.flaticon-cloud-computing:before { content: "\f11f"; }
.flaticon-close:before { content: "\f120"; }
.flaticon-close-1:before { content: "\f121"; }
.flaticon-cancel:before { content: "\f122"; }
.flaticon-close-2:before { content: "\f123"; }
.flaticon-close-3:before { content: "\f124"; }
.flaticon-bookmark:before { content: "\f125"; }
.flaticon-place:before { content: "\f126"; }
.flaticon-search:before { content: "\f127"; }
.flaticon-clock:before { content: "\f128"; }
.flaticon-folder:before { content: "\f129"; }
.flaticon-factory:before { content: "\f12a"; }
.flaticon-working-man:before { content: "\f12b"; }
.flaticon-play:before { content: "\f12c"; }
.flaticon-play-button:before { content: "\f12d"; }
.flaticon-calendar:before { content: "\f12e"; }
.flaticon-hashtag:before { content: "\f12f"; }
.flaticon-landscape:before { content: "\f130"; }
.flaticon-direct-download:before { content: "\f131"; }
.flaticon-youtube-logo:before { content: "\f132"; }
.flaticon-reply:before { content: "\f133"; }
.flaticon-businessman-1:before { content: "\f134"; }
.flaticon-human-resources:before { content: "\f135"; }
.flaticon-customer-service:before { content: "\f136"; }
.flaticon-checkmark:before { content: "\f137"; }
.flaticon-short-tie:before { content: "\f138"; }
.flaticon-money-bag:before { content: "\f139"; }
.flaticon-google-maps:before { content: "\f13a"; }
.flaticon-hourglass:before { content: "\f13b"; }
.flaticon-head:before { content: "\f13c"; }
.flaticon-lightbulb:before { content: "\f13d"; }
.flaticon-menu:before { content: "\f13e"; }
.flaticon-left-arrow-2:before { content: "\f13f"; }
.flaticon-left-arrow-3:before { content: "\f140"; }
.flaticon-previous:before { content: "\f141"; }
.flaticon-arrowhead-thin-outline-to-the-left:before { content: "\f142"; }
.flaticon-up-arrow:before { content: "\f143"; }
.flaticon-arrow-2:before { content: "\f144"; }
.flaticon-up-arrow-1:before { content: "\f145"; }
.flaticon-arrows:before { content: "\f146"; }
.flaticon-arrows-1:before { content: "\f147"; }
.flaticon-up-arrow-2:before { content: "\f148"; }